.btn {
  padding: 18px 23px;
  background-color: $main-color;
  border: none;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  &__big {
    margin-top: 40px;
    padding: 23px 45px;
    font-size: 15px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__item {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 13px 35px;
  }
  &__price-btn {
    display: block;
    padding: 14px 35px;
    margin: 0 auto;
  }
}