.footer {
  padding-top: 25px;
  padding-bottom: 39px;
  min-height: 200px;
  background-color: #25333c;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__header {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
  }
  &__descr {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
  }
  hr {
    height: 2px;
  }
  &__wrapper-policy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}