.feed-form {
  position: relative;
  min-height: 166px;
  border: 1px solid #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 267px;
    height: 47px;
    border-radius: 25px;
    border: 1px solid #898989;
    margin-right: 5px;
    padding-left: 28px;
  }
  &__button {
    position: absolute;
    bottom: -25px;
    width: 215px;
    height: 50px;
    background-color:#fff;
  }
  &__modal {
    border: none;
    flex-direction: column;
    input {
      margin-top: 15px;
    }
  }
  &__questions {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: repeat(3, minmax(55px, auto));
    grid-auto-rows: minmax(55px, auto);
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    border: none;
    input {
      height: 47px;
      border-radius: 25px;
      border: 1px solid #898989;
      padding-left: 28px;
    }
    textarea {
      grid-column: 1 / 4;
      border-radius: 25px;
      padding-top: 10px;
      padding-left: 20px;
      resize: none;
    }
    #quest {
      grid-column: 2 / 3;
    }
  }
  .error {
    font-size: 12px;
    color: red;
    border: 1px solid red;
  }
  label.error {
    border: none;
  }

}
